img {
    display: block;
    width: 100%;
    height: auto;
}
.card {
    /*margin: 75px 5px 0 0;*/
    padding: 0;
    background: #fff;
    color: #333;
    /*border: 5px solid transparent;*/



}
/*.small{*/
    /*display: grid;*/
    /*grid-template-columns: 25% 23% 23% 23%;*/
    /*grid-gap: 1em;*/
    /*margin-top: -75px;*/

/*}*/