img {
    display: block;
    width: 100%;
    height: auto;
}
.card {


    background: #fff;
    color: #333;


}
.small{
    display: grid;
    grid-template-columns: 25% 23% 23% 23%;
    grid-gap: 1em;

}